
MATOMO_VERSION=5.0.1
MATOMO_LICENSE=123456789abcdefghijklmnopqrstuvwxyz
TMP_DIR=./tmp

MATOMO_DATABASE_HOST=db
MATOMO_ROOT_PASSWORD=ROOT_PASSWORD
MATOMO_TABLES_PREFIX=matomo_
MATOMO_DATABASE_USERNAME=matomo
MATOMO_DATABASE_PASSWORD=MATOMO_DATABASE_PASSWORD
MATOMO_DATABASE_DBNAME=matomo
MATOMO_CONFIG_SALT=MATOMO_GENERATES_THIS_AT_INSTALL
